<!-- HOME SECTION -->
<header id="header" class="home-section">

  <!-- slide-1 -->
  <div
    class="slide active"
    style="background-image: url('./images/header/lib2.jpg');"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="home-content">
          <h1>elektron kutubxona</h1>
          <p>TATU Samarqand filiali virtual axborot-resurs markazi</p>
          <span>
            <a href="./html/book.html">
              <i class="fas fa-search"></i>
              Qidiruv
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- slide-2 -->
  <div class="slide" style="background-image: url('./images/header/lib3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="home-content">
          <h1>elektron kutubxona</h1>
          <p>TATU Samarqand filiali virtual axborot-resurs markazi</p>
          <span>
            <a href="./html/book.html">
              <i class="fas fa-search"></i>
              Qidiruv
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- slide-3 -->
  <div class="slide" style="background-image: url('./images/header/lib5.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="home-content">
          <h1>elektron kutubxona</h1>
          <p>TATU Samarqand filiali virtual axborot-resurs markazi</p>
          <span>
            <a href="./html/book.html">
              <i class="fas fa-search"></i>
              Qidiruv
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

</header>

<!-- FACTS SECTION -->
<section id="facts" class="py-4 py-sm-5">
  <div class="container py-3">
    <div class="row mb-5">
      <div class="col-lg-12">
        <h2 class="main-title text-center text-uppercase pt-4">statistika</h2>
        <p class="text-center mb-0">TATU Samarqand filiali axborot-resurs
          markazining umumiy statistikasi</p>
      </div>
    </div>
    <div class="row g-4 fact-root">
      <div class="col-lg-3 col-6">
        <div class="fact text-center py-4 px-3">
          <h4 class="display-6 counter" data-count="4000">0</h4>
          <p>Umumiy kitoblar fondi</p>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="fact text-center py-4 px-3">
          <h4 class="display-6 counter" data-count="150">0</h4>
          <p>Audio kitoblar soni</p>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="fact text-center py-4 px-3">
          <h4 class="display-6 counter" data-count="15">0</h4>
          <p>Umumiy xodimlar soni</p>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="fact text-center py-4 px-3">
          <h4 class="display-6 counter" data-count="60">0</h4>
          <p>Kunlik foydalanuvchilar</p>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-lg-12 text-center">
        <a href="#" target="_blank">Grafik ko'rinishi</a>
      </div>
    </div>
  </div>
</section>

<!-- BOOKS SECTION -->
<section id="books" class="books pt-5 pb-2">
  <h2 class="main-title text-center text-uppercase pt-4">KIToblar</h2>
  <div class="container py-5">
    <!-- carousel services -->
    <div class="post-container owl-carousel text-center">

      <div class="book-item shadow-sm mx-3 rounded bg-white pb-4">
        <div class="icon my-3 text-primary fs-2">
          <img src="{{url}}images/kitoblar/dasturlash.jpg" alt="" />
        </div>
        <h3 class="fs-5 py-2">Dasturlashga oid</h3>
        <button class="main-btn"><a href="#">Ko'proq ...</a></button>
      </div>

      <div class="book-item shadow-sm mx-3 rounded bg-white pb-4">
        <div class="icon my-3 text-primary fs-2">
          <img src="{{url}}images/kitoblar/psexologiya.jpg" alt="" />
        </div>
        <h3 class="fs-5 py-2">Gumanitar</h3>
        <button class="main-btn"><a href="#">Ko'proq ...</a></button>
      </div>

      <div class="book-item shadow-sm mx-3 rounded bg-white pb-4">
        <div class="icon my-3 text-primary fs-2">
          <img src="{{url}}images/kitoblar/tabiiy.jpg" alt="" />
        </div>
        <h3 class="fs-5 py-2">Tabiiy fanlar</h3>
        <button class="main-btn"><a href="#">Ko'proq ...</a></button>
      </div>

      <div class="book-item shadow-sm mx-3 rounded bg-white pb-4">
        <div class="icon my-3 text-primary fs-2">
          <img src="{{url}}images/kitoblar/darslik3.webp" alt="" />
        </div>
        <h3 class="fs-5 py-2">Badiiy</h3>
        <button class="main-btn"><a href="#">Ko'proq ...</a></button>
      </div>

      <div class="book-item shadow-sm mx-3 rounded bg-white pb-4">
        <div class="icon my-3 text-primary fs-2">
          <img src="{{url}}images/kitoblar/ilmiy.jpg" alt="" />
        </div>
        <h3 class="fs-5 py-2">Ilmiy maqolalar</h3>
        <button class="main-btn"><a href="#">Ko'proq ...</a></button>
      </div>

      <div class="book-item shadow-sm mx-3 rounded bg-white pb-4">
        <div class="icon my-3 text-primary fs-2">
          <img src="{{url}}images/kitoblar/dasrlik.jpg" alt="" />
        </div>
        <h3 class="fs-5 py-2">Darsliklar</h3>
        <button class="main-btn"><a href="#">Ko'proq ...</a></button>
      </div>

      <div class="book-item shadow-sm mx-3 rounded bg-white pb-4">
        <div class="icon my-3 text-primary fs-2">
          <img src="{{url}}images/kitoblar/akt.jpg" alt="" />
        </div>
        <h3 class="fs-5 py-2">AKT</h3>
        <button class="main-btn"><a href="#">Ko'proq ...</a></button>
      </div>
    </div>
    <!-- carousel services -->
  </div>
</section>

<!-- TELEGRAM BOT SECTION -->
<section id="bot">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-12 py-5 d-flex justify-content-between align-items-center"
      >
        <div class="text">
          <p class="fs-5">Telegram kanal</p>
          <h2 class="text-capitalize">barcha kitoblar telegram kanalimizda</h2>
        </div>
        <div class="button">
          <a href="https://t.me/library_sbtuit">Telegram</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SERVICES SECTION -->
<section id="services" class="py-5">
  <h2 class="main-title text-center text-uppercase pb-5">e'lonlar</h2>
  <div class="container pb-5">
    <div class="row gx-4 gx-lg-5">
      <div
        class="col-md-4 text-center mb-3 mb-md-0"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="100"
      >
        <div class="service-card px-3 px-lg-4 py-4 py-lg-5">
          <h2 class="text-capitalize mb-3 mb-lg-4 text-capitalize">E'lon!</h2>
          <p class="mb-3 mb-lg-5">Samarqanddagi “Informatika va axborot
            texnologiyalariga ixtisoslashtirilgan" 9-maktabga kirish natijalari
            e'lon qillindi!
          </p>
          <button class="main-btn card-btn"><a
              href="http://samtuit.uz/uz/post/elon-1631635691"
            >batafsil</a></button>
        </div>
      </div>
      <div
        class="col-md-4 text-center mb-3 mb-md-0"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="200"
      >
        <div class="service-card px-3 px-lg-4 py-4 py-lg-5">
          <h2 class="text-capitalize mb-3 mb-lg-4 text-capitalize">E'lon!</h2>
          <p class="mb-3 mb-lg-5">Talabalikka tavsiya etilgan abituriyentlar
            quyidagi hujjatlarni oliygoh qabul komissiyasiga taqdim etadilar!
          </p>
          <button class="main-btn card-btn"><a
              href="http://samtuit.uz/uz/post/elon-1631635691"
            >batafsil</a></button>
        </div>
      </div>
      <div
        class="col-md-4 text-center"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="300"
      >
        <div class="service-card px-3 px-lg-4 py-4 py-lg-5">
          <h2 class="text-capitalize mb-3 mb-lg-4 text-capitalize">e'lon</h2>
          <p class="mb-3 mb-lg-5">2021-2022 o'quv yili uchun Magsitratura
            mutaxassislik fanlaridan imtihon natijalari
          </p>
          <button class="main-btn card-btn"><a
              href="https://samtuit.uz/uz/post/2021-2022-oquv-yili-uchun-magsitratura-mutaxassislik-fanlaridan-imtihon-natijalari-1629193066"
            >batafsil</a></button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- DOWNLOAD SECTION -->
<section id="download" class="py-4">
  <h2 class="main-title text-center text-uppercase pt-5">oqim va yuklab olish</h2>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-12 d-flex align-items-center justify-content-between py-5"
      >
        <div class="flaticon text-center px-3 mb-3 mb-lg-0">
          <a>
            <img
              src="{{url}}images/icons/ebook.png"
              alt=""
              class="w-100 mb-4"
            />
            <p class="text-capitalize w-100">e-kitoblar</p>
          </a>
        </div>
        <div class="flaticon text-center px-3 mb-3 mb-lg-0">
          <a>
            <img
              src="{{url}}images/icons/audiobook.png"
              alt=""
              class="w-100 mb-4"
            />
            <p class="text-capitalize w-100">audiolar</p>
          </a>
        </div>
        <div class="flaticon text-center px-3 mb-3 mb-lg-0">
          <a>
            <img
              src="{{url}}images/icons/online-video.png"
              alt=""
              class="w-100 mb-4"
            />
            <p class="text-capitalize w-100">videolar</p>
          </a>
        </div>
        <div class="flaticon text-center px-3 mb-3 mb-lg-0">
          <a>
            <img
              src="{{url}}images/icons/music.png"
              alt=""
              class="w-100 mb-4"
            />
            <p class="text-capitalize w-100">musiqa</p>
          </a>
        </div>
        <div class="flaticon text-center px-3 mb-3 mb-lg-0">
          <a>
            <img
              src="{{url}}images/icons/magazine.png"
              alt=""
              class="w-100 mb-3"
            />
            <p class="text-capitalize w-100">jurnallar</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT SECTION -->
<section id="contact" class="pb-5 pt-3">
  <h2 class="main-title text-center text-uppercase py-5">Murojatlar uchun</h2>
  <div class="container-xxl">
    <div class="row gx-sm-3 gx-lg-5 pb-5">
      <div class="col-md-4">
        <div class="link-box mb-4 mb-md-0">
          <div class="location d-flex">
            <div
              class="icon me-3 d-flex align-items-center justify-content-center"
            >
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div>
              <h5 class="text-capitalize mb-0">location:</h5>
              <p class="mb-0">Samarqand shaxri, TATU Samarqand filiali A binosi</p>
            </div>
          </div>
          <div class="location d-flex">
            <div
              class="icon me-3 d-flex align-items-center justify-content-center"
            >
              <i class="fas fa-envelope"></i>
            </div>
            <div>
              <h5 class="text-capitalize mb-0">email:</h5>
              <p class="mb-0">librarysamtuituz@gmail.com</p>
            </div>
          </div>
          <div class="location d-flex">
            <div
              class="icon me-3 d-flex align-items-center justify-content-center"
            >
              <i class="fas fa-phone-alt"></i>
            </div>
            <div>
              <h5 class="text-capitalize mb-0">call:</h5>
              <p class="mb-0">+99 893 997 77 86</p>
            </div>
          </div>
          <div class="map">
            <iframe
              class="w-100 h-100"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3070.6563852248305!2d66.97926531473668!3d39.67994345804273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d188e87ff9341%3A0xc519336839ee6ba7!2sToshkent%20Axborot%20va%20Texnologiya%20Universiteti%20Samarkand%20Filiali%2C%20Samarqand%2C%20O%60zbekiston!5e0!3m2!1suz!2s!4v1631701919319!5m2!1suz!2s"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <form action="">
          <div class="contact-box d-flex">
            <div class="text-input">
              <label for="userName">Ismingiz:</label>
              <input type="text" name="" id="userName" />
            </div>
            <div class="text-input">
              <label for="userSurame">Familiyangiz:</label>
              <input type="text" name="" id="userSurame" />
            </div>
            <div class="text-input">
              <label for="userEmail">Emailingiz:</label>
              <input type="email" name="" id="userEmail" />
            </div>
            <div class="text-input">
              <label for="userNumber">Telefon no'meringiz:</label>
              <input type="text" name="" id="userNumber" />
            </div>
            <div class="text-input messege-input">
              <label for="userMessege">Xabaringizni kiriting</label>
              <textarea name="" id="userMessege"></textarea>
            </div>
            <div class="w-100 text-center">
              <button type="submit" class="send-btn">Jo'natish</button>
              <p class="mb-0 mt-2">
                <a href="#" target="_blank" class="faq-link">Savollarga berilgan
                  javoblar (FAQ)</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- HAMKORLAR SECTION -->
<section id="hamkorlar" class="py-5">
  <div class="container pb-sm-4">
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="text text-center pb-sm-4">
          <h2 class="text-capitalize">Hamkorlarimiz</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="img-box d-flex align-items-start justify-content-between">
          <div
            class="card-box d-flex flex-column align-items-center mb-5 mb-md-0"
          >
            <a href="http://samtuit.uz" class="w-100 px-4 px-md-4 px-lg-5">
              <img
                class="w-100 mb-3 mb-md-4"
                src="./images/hamkorlar/samTuit.png"
                alt=""
              />
            </a>
            <a href="http://samtuit.uz" class="w-100 text-center">
              TATU Samarqand filiali
            </a>
          </div>
          <div
            class="card-box d-flex flex-column align-items-center mb-5 mb-md-0"
          >
            <a href="#" class="w-100 px-4 px-md-4 px-lg-5">
              <img
                class="w-100 mb-3 mb-md-4"
                src="./images/hamkorlar/EDS_logo.png"
                alt=""
              />
            </a>
            <a
              href="http://web.b.ebscohost.com/ehost/search/selectdb?sid=050cf0ac-fd97-45ec-a6d3-9fdb4642e529%40pdc-v-sessmgr01&vid=1&lg=1"
              class="w-100 text-center"
            >
              EBSCO Information Services
            </a>
          </div>
          <div
            class="card-box d-flex flex-column align-items-center mb-5 mb-md-0"
          >
            <a href="#" class="w-100 px-4 px-md-4 px-lg-5">
              <img
                class="w-100 mb-3 mb-md-4"
                src="./images/hamkorlar/kutub.png"
                alt=""
              />
            </a>
            <a href="https://www.natlib.uz/" class="w-100 text-center">
              O'zbekiston milliy kutubxonasi
            </a>
          </div>
          <div
            class="card-box d-flex flex-column align-items-center mb-5 mb-md-0"
          >
            <a href="#" class="w-100 px-4 px-md-4 px-lg-5">
              <img
                class="w-100 mb-3 mb-md-4"
                src="./images/hamkorlar/tuit.png"
                alt=""
              />
            </a>
            <a href="https://www.tuit.uz/" class="w-100 text-center">
              Toshkent axborot texnologiyalari universteti
            </a>
          </div>
          <div
            class="card-box d-flex flex-column align-items-center mb-5 mb-md-0"
          >
            <a href="#" class="w-100 px-4 px-md-4 px-lg-5">
              <img
                class="w-100 mb-3 mb-md-4"
                src="./images/hamkorlar/bookshelf.png"
                alt=""
              />
            </a>
            <a
              href="http://armat.tuit.uz/index.php/site/login.mbb"
              class="w-100 text-center"
            >
              ARMAT++ dasturiy ta'minoti
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>