<section id="newsTable" style="min-height: 78vh;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <table
          class="table table-bordered align-middle text-center"
          style="border-color: #000;"
        >
          <tr class="table-success" style="border-color: #000;">
            <th>No</th>
            <th>Rasm</th>
            <th>Sarlavha</th>
            <th>Yangilik matni</th>
            <th>Tahrirlash</th>
          </tr>
          <tr>
            <th>1</th>
            <td><img
                src="{{url}}images/header/news.jpg"
                style="width: 170px;"
                alt="kitob-1"
              /></td>
            <td>
              <h5>
                Bitiruvchi kurslarga dimlom topshirish marosimi bo'lib o'tdi</h5>
            </td>
            <td>Qanaqadir juda muhim habar. Bu habardan hamma shokda uje.
              odamlar tinmay gapirishayapti. Sizning bu habar haqida fikringiz
              qanday? O'z fikringizni ijtimoiy tarmoqlarda biz bilan baham
              ko'ring.</td>
            <td>
              <div class="d-flex">
                <a
                  href="{{url}}news/add"
                  title="Add news"
                  class="btn btn-outline-success mx-2"
                ><i class="bi bi-clipboard2-plus"></i></a>
                <a
                  href="{{url}}news/update"
                  title="Update news"
                  class="btn btn-outline-primary"
                ><i class="bi bi-pencil"></i></a>
                <a
                  href="#"
                  title="Delete news"
                  class="btn btn-outline-danger mx-2"
                ><i class="bi bi-trash"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <th>2</th>
            <td><img
                src="{{url}}images/header/news.jpg"
                style="width: 170px;"
                alt="kitob-1"
              /></td>
            <td>
              <h5>
                Bitiruvchi kurslarga dimlom topshirish marosimi bo'lib o'tdi</h5>
            </td>
            <td>Qanaqadir juda muhim habar. Bu habardan hamma shokda uje.
              odamlar tinmay gapirishayapti. Sizning bu habar haqida fikringiz
              qanday? O'z fikringizni ijtimoiy tarmoqlarda biz bilan baham
              ko'ring.</td>
            <td>
              <div class="d-flex">
                <a
                  href="{{url}}news/add"
                  title="Add news"
                  class="btn btn-outline-success mx-2"
                ><i class="bi bi-clipboard2-plus"></i></a>
                <a
                  href="{{url}}news/update"
                  title="Update news"
                  class="btn btn-outline-primary"
                ><i class="bi bi-pencil"></i></a>
                <a
                  href="#"
                  title="Delete news"
                  class="btn btn-outline-danger mx-2"
                ><i class="bi bi-trash"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <th>3</th>
            <td><img
                src="{{url}}images/header/news.jpg"
                style="width: 170px;"
                alt="kitob-1"
              /></td>
            <td>
              <h5>
                Bitiruvchi kurslarga dimlom topshirish marosimi bo'lib o'tdi</h5>
            </td>
            <td>Qanaqadir juda muhim habar. Bu habardan hamma shokda uje.
              odamlar tinmay gapirishayapti. Sizning bu habar haqida fikringiz
              qanday? O'z fikringizni ijtimoiy tarmoqlarda biz bilan baham
              ko'ring.</td>
            <td>
              <div class="d-flex">
                <a
                  href="{{url}}news/add"
                  title="Add news"
                  class="btn btn-outline-success mx-2"
                ><i class="bi bi-clipboard2-plus"></i></a>
                <a
                  href="{{url}}news/update"
                  title="Update news"
                  class="btn btn-outline-primary"
                ><i class="bi bi-pencil"></i></a>
                <a
                  href="#"
                  title="Delete news"
                  class="btn btn-outline-danger mx-2"
                ><i class="bi bi-trash"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <th>4</th>
            <td><img
                src="{{url}}images/header/news.jpg"
                style="width: 170px;"
                alt="kitob-1"
              /></td>
            <td>
              <h5>
                Bitiruvchi kurslarga dimlom topshirish marosimi bo'lib o'tdi</h5>
            </td>
            <td>Qanaqadir juda muhim habar. Bu habardan hamma shokda uje.
              odamlar tinmay gapirishayapti. Sizning bu habar haqida fikringiz
              qanday? O'z fikringizni ijtimoiy tarmoqlarda biz bilan baham
              ko'ring.</td>
            <td>
              <div class="d-flex">
                <a
                  href="{{url}}news/add"
                  title="Add news"
                  class="btn btn-outline-success mx-2"
                ><i class="bi bi-clipboard2-plus"></i></a>
                <a
                  href="{{url}}news/update"
                  title="Update news"
                  class="btn btn-outline-primary"
                ><i class="bi bi-pencil"></i></a>
                <a
                  href="#"
                  title="Delete news"
                  class="btn btn-outline-danger mx-2"
                ><i class="bi bi-trash"></i></a>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>